.wrap {
	max-width: 750px;
}

.wrap h3 {
	border-bottom: 1px solid #333;
	padding-bottom: 6px;
}

.wrap h4 {
	font-size: 1.1em;
}

.wrap li {
	display: inline-block;
	padding: 0 12px;
	vertical-align: top;
	width: 226px;
}

.wrap li em {
	color: #999;
}
